.header{ height:60px; color:#fff; background:#5191FF;}
.logo{ line-height:60px; float:left; color:#fff;}
.back{ line-height:60px; float:right; color:#fff;}
.back:hover{ color:#fff;}
.register{ margin-top:25px;}
.register-box{ padding:30px 70px;}
.register-form{ width:700px; margin:auto; padding:30px 0;}
.examine{ width:100%; height:100%; background:rgba(0,0,0,0.4);
    position:fixed; left:0; top:0; display:none;}
.examine-box{ width:240px; height:320px; background:#fff;
    border-radius:2px; padding:40px 80px; box-shadow:0 0 20px #666;
    text-align:center; position:absolute; left:50%; top:50%; margin:-200px 0 0 -200px;}
.examine-box h3{ margin-bottom:15px;}
.examine-box p{ line-height:26px; font-size:16px; margin-bottom:30px;}
.examine-box .btn{ width:150px; padding:12px; font-size:16px;}
.box-title { line-height:20px;font-size:16px;font-weight:bold;padding:15px 0 10px;  }
/* fixed */
.fixed {
    position: fixed;
    right: 10px;
    bottom: 200px;
}
.fixed a {
    color: #fff;
    width: 50px;
    height: 50px;
    display: block;
    background-size: cover;
    position: relative;
}
.fixed a .box {
    font-size: 14px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 4px;
    display: none;
    position: absolute;
    left: -180px;
    top: -50px;
}
.fixed a:hover .box {
    display: block;
}
.fixed a .box p {
    margin: 5px 0 0 0;
}
.fixed .tel {
    background-image: url(/static/images/tel.png);
}
.fixed .tel .box {
    left: -120px;
    top: 0;
}
.fixed .tel .box p:first-child {
    margin-top: 0;
}
.fixed .wechat {
    background-image: url(/static/images/wechat.png);
}
.fixed .wechat .box img {
    width: 150px;
}
